body {   
    background: #D73234;
    background: linear-gradient(135deg, #D73234, #F09B53);
}
form {

    max-width: 600px;
    margin: 0 auto;
   
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-family: sans-serif;
    font-weight: 100;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
}

th, td {
    background-color: #ffffff33;
    padding: 15px;
    color: #000000;
}

th {
    text-align: left;
    
}
thead th{
    background-color: #ffff;
}

.btn-edit {
    background-color: #007bff;
    color: #fff;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
}

tbody tr:hover{
    background-color: #ffffff4d;

}
tbody td{
    position: relative;
}
tbody td:hover:before{
    content: "";
    position: absolute;
    background-color: #ffffff33;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    z-index: -1;
}

[data-tooltip] {
    position: relative;
    font-weight: bold;
}

    [data-tooltip]:after {
        display: none;
        position: absolute;
        top: -5px;
        padding: 5px;
        border-radius: 3px;
        left: calc(100% + 2px);
        content: attr(data-tooltip);
        white-space: nowrap;
        background-color: #0095ff;
        color: White;
    }

    [data-tooltip]:hover:after {
        display: block;
    }

.botao-margin {
    padding: 8px;
    margin-top: 100px;
    border-radius: 4px;
    margin-right: 27px;
}